@font-face {
  font-family: "Bernie";
  src: url("./assets/fonts/Bernie.otf") format("opentype");
}

@font-face {
  font-family: "Utendo";
  src: url("./assets/fonts/Utendo.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Utendo", "sans-serif";
}
